{% extends 'layouts/application.html' %}

{% block content %}

{% include "shared/menu.html" %}

<section id="contact" class="section scrollspy">
    <div class="container column center">
        <h3>CONTACT ME</h3>
        <p class="subtitle">Et harum quidem rerum facilis est et expedita distinctio.</p>
        <ul class="address">
            <li>Tel.: +420 607 773 922</li>
            <li>Address : Preslova 409/3, Prague, Czech Republic</li>
            <li>Email : pavol.noha@gmail.com</li>
        </ul>
        <form method="post" id="contactform" class="contact-form">
            <div class="form-row">
                <div class="form-column-6 form-group">
                    <label class="title small" for="name">Name</label>
                    <input type="text" placeholder="Name" name="name" id="name" class="text name required">
                </div>
                <div class="form-column-6 form-group">
                    <label class="title small" for="email">E-mail</label>
                    <input type="email" placeholder="E-mail" name="email" id="email" class="text email required">
                </div>
            </div>
            <div class="form-row">
                <div class="form-column-12 form-group">
                    <label class="title small" for="email">Subject</label>
                    <input type="text" placeholder="Subject" name="subject" id="subject" class="text subject required">
                </div>
            </div>
            <div class="form-row">
                <div class="form-column-12 form-group">
                    <label class="title small" for="message">Type your message</label>
                    <textarea placeholder="Type your message" name="message" id="message"
                              class="text area required"></textarea>
                </div>
            </div>
            <input type="submit" value="Submit" class="button button-inverse">
        </form>
    </div>
</section>

{% endblock %}