{% extends 'layouts/application.html' %}

{% block content %}

{% include "shared/menu.html" %}

<div class="carousel">
    <input class="carousel-activator" type="radio" id="slider-1" name="activator" checked="checked"/>
    <input class="carousel-activator" type="radio" id="slider-2" name="activator"/>
    <input class="carousel-activator" type="radio" id="slider-3" name="activator"/>
    <input class="carousel-activator" type="radio" id="slider-4" name="activator"/>
    <!--    <div class="carousel-controls">-->
    <!--        <label class="carousel-control carousel-control--backward" for="slider-4"></label>-->
    <!--        <label class="carousel-control carousel-control--forward" for="slider-2"></label>-->
    <!--    </div>-->
    <!--    <div class="carousel-controls">-->
    <!--        <label class="carousel-control carousel-control--backward" for="slider-1"></label>-->
    <!--        <label class="carousel-control carousel-control--forward" for="slider-3"></label>-->
    <!--    </div>-->
    <!--    <div class="carousel-controls">-->
    <!--        <label class="carousel-control carousel-control--backward" for="slider-2"></label>-->
    <!--        <label class="carousel-control carousel-control--forward" for="slider-4"></label>-->
    <!--    </div>-->
    <!--    <div class="carousel-controls">-->
    <!--        <label class="carousel-control carousel-control--backward" for="slider-3"></label>-->
    <!--        <label class="carousel-control carousel-control--forward" for="slider-1"></label>-->
    <!--    </div>-->
    <ul class="carousel-slides">
        <li class="carousel-slide carousel-slide-active">
            <div class="carousel-caption">
                <h2>Tonga, 2019</h2>
                <p>Humpback lady fooling around us for almost an hour off the coast of Vava'u</p>
            </div>
        </li>
        <li class="carousel-slide">
            <div class="carousel-caption">
                <h2>Egypt, 2019</h2>
                <p>Hawksbill turtle having lunch on Elphinstone reef.</p>
            </div>
        </li>
        <li class="carousel-slide">
            <div class="carousel-caption">
                <h2>Maldives, 2019</h2>
            </div>
        </li>
        <li class="carousel-slide">
            <div class="carousel-caption">
                <h2>Fiji, 2019</h2>
            </div>
        </li>
    </ul>

<!--    <div class="carousel-progress"></div>-->




    <!--    <div class="carousel-indicators">-->
    <!--        <label class="carousel-indicator" for="slider-1"></label>-->
    <!--        <label class="carousel-indicator" for="slider-2"></label>-->
    <!--        <label class="carousel-indicator" for="slider-3"></label>-->
    <!--        <label class="carousel-indicator" for="slider-4"></label>-->
    <!--    </div>-->
</div>

{% endblock %}