@charset "utf-8";

@import "hamburgers/_sass/hamburgers/hamburgers";

/* ----------------------------------
Style.css / Version:1.0

    Table of contents
    01. Google Font
    02. Variables
    03. PreLoader
    04. Reset
    05. Typography
    06. Navigation
    07. Header
    08. Layout

    09. Contact section

---------------------------------- */

/* ----------------------------------
   01 - Google font
---------------------------------- */

@import url(https://fonts.googleapis.com/css?family=Dosis:200,400,500|Raleway|Inconsolata);

/* ----------------------------------
   02 - Variables
---------------------------------- */

@import "base/variables";

/* ----------------------------------
   03 - PreLoader
---------------------------------- */

@import "base/loader";

/* ----------------------------------
   04 - Reset
---------------------------------- */

@import "base/reset";

/* ----------------------------------
   05 - Typography
---------------------------------- */

@import "base/typography";

/* ----------------------------------
   06 - Navigation
---------------------------------- */

@import "base/navigation";

/* ----------------------------------
   07 - Header
---------------------------------- */

@import "base/header";

/* ----------------------------------
   08 - Layout
---------------------------------- */

@import "base/layout";

/* ----------------------------------
   09 - Contact section
---------------------------------- */

.contact-form {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form > input {
  margin-top: 25px;
}

.address {
  text-transform: uppercase;
  text-align: center;
  padding: 0;
}

.address li {
  list-style: none;
}

.subtitle {
  font-size: 19px;
  color: #989898;
}

form .form-row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

form .form-column-6 {
  flex: 1 1 auto;
  padding: 15px;
}

form .form-column-12 {
  flex: 1;
  padding: 15px;
}

@media (max-width: 576px) {
  form .form-row {
    flex-direction: column;
  }
}

form input[type=submit]{
  width: 200px;
}

form .form-group label {
  display: none;
}