.carousel {
  display: block;
  background: #fff;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
}

.carousel-controls,
.carousel-activator {
  display: none;
}

.carousel-activator:nth-of-type(1):checked ~ .carousel-controls:nth-of-type(1),
.carousel-activator:nth-of-type(2):checked ~ .carousel-controls:nth-of-type(2),
.carousel-activator:nth-of-type(3):checked ~ .carousel-controls:nth-of-type(3),
.carousel-activator:nth-of-type(4):checked ~ .carousel-controls:nth-of-type(4) {
  display: block;
  opacity: 1;
}

.carousel-activator:nth-of-type(1):checked ~ .carousel-indicators .carousel-indicator:nth-of-type(1),
.carousel-activator:nth-of-type(2):checked ~ .carousel-indicators .carousel-indicator:nth-of-type(2),
.carousel-activator:nth-of-type(3):checked ~ .carousel-indicators .carousel-indicator:nth-of-type(3),
.carousel-activator:nth-of-type(4):checked ~ .carousel-indicators .carousel-indicator:nth-of-type(4) {
  opacity: 1;
}

.carousel-control {
  height: 30px;
  width: 30px;
  margin-top: -15px;
  top: 50%;
  position: absolute;
  display: block;
  //display: none;
  cursor: pointer;
  border-width: 5px 5px 0 0;
  border-style: solid;
  border-color: #fafafa;
  opacity: 0.35;
  outline: 0;
  z-index: 3;
}

.carousel-control:hover {
  opacity: 1;
}

.carousel-control--backward {
  left: 45px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.carousel-control--forward {
  right: 45px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.carousel-indicators {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

/* Zoom in Keyframes */
@-webkit-keyframes zoomin {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes zoomin {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}


.carousel-slide {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;

  //-webkit-animation: zoomin 9s ease-in;
  //animation: zoomin 9s ease-in;


  //z-index: 0;
  //display: flex;
  //display: -webkit-flex;
  //display: -ms-flexbox;
  //flex-direction: row;
  //flex-wrap: wrap;
  //-webkit-flex-align: center;
  //-webkit-align-items: center;
  //align-items: center;
  //justify-content: center;
  //align-content: center;
  //-webkit-transform: scale(1);
  //transform: scale(1);
}

.carousel-slide > div {
  position: fixed;
  bottom: 25px;
  right: 35px;
  text-align: right;
  max-width: 450px;
}

/* Slider inner slide effect */
.carousel-slide h2 {
  letter-spacing: 1px;
  color: #fff;
  font-weight: 400;
  font-size: 38px;
  text-transform: none;
  line-height: 120%;
  opacity: 0;
  -webkit-transform: translateX(500px);
  transform: translateX(500px);
}

.carousel-slide p {
  color: #fff;
  opacity: 0;
  margin: 0;
  -webkit-transform: translateX(-500px);
  transform: translateX(-500px);
}

.carousel-slide h2,
.carousel-slide p {
  -webkit-transition: opacity 800ms, -webkit-transform 800ms;
  transition: transform 800ms, opacity 800ms;
  -webkit-transition-delay: 1s; /* Safari */
  transition-delay: 1s;
}

.carousel-activator:nth-of-type(1):checked ~ .carousel-slides .carousel-slide:nth-of-type(1) > div > *,
.carousel-activator:nth-of-type(2):checked ~ .carousel-slides .carousel-slide:nth-of-type(2) > div > *,
.carousel-activator:nth-of-type(3):checked ~ .carousel-slides .carousel-slide:nth-of-type(3) > div > *,
.carousel-activator:nth-of-type(4):checked ~ .carousel-slides .carousel-slide:nth-of-type(4) > div > * {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

.carousel-indicator {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  display: inline-block;
  z-index: 2;
  cursor: pointer;
  opacity: 0.35;
  margin: 0 2.5px 0 2.5px;
}

.carousel-indicator {
  background-color: #fafafa;
}

.carousel-indicator:hover {
  opacity: 0.75;
}

.carousel-slide:nth-of-type(1) {
  background: url('../images/PB140279-Edit-Edit.png') no-repeat scroll center;
  background-size: cover;
}

.carousel-slide:nth-of-type(2) {
  background: url('../images/bg2.jpg') no-repeat scroll center;
  background-size: cover;
}

.carousel-slide:nth-of-type(3) {
  background: url('../images/PB140279-Edit-Edit.png') no-repeat scroll center;
  background-size: cover;
}

.carousel-slide:nth-of-type(4) {
  background: url('../images/bg.jpg') no-repeat scroll center;
  background-size: cover;
}