header {
  box-sizing: border-box;
  padding-top: 10rem;
  padding-bottom: calc(10rem - #{$navbar-height});
  background: url('../images/bg.jpg') no-repeat scroll center;
  background-size: cover;
  color: #fff;

  h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }

  h4 {
    font-weight: lighter;
  }
}

@media (min-width: $lg) {
  header {
    height: 100vh;
    min-height: 40rem;
    padding-top: $navbar-height;
    padding-bottom: 0;
  }
}

.header-container {
  display: flex;
  flex-direction: column;
}

.header-images {
  display: none;
}

.header-content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-image {
  border: 5px solid #fff;
}

@media (min-width: 1280px) {
  .header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .header-images {
    display: block;
  }

  .header-images-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
  }
}

/* Scattered images */

.header-image-1, .rotate-10 {
  height: 210px;
  -moz-transform: rotate(-10deg); /* FF3.5/3.6 */
  -o-transform: rotate(-10deg); /* Opera 10.5 */
  -webkit-transform: rotate(-10deg); /* Saf3.1+ */
  transform: rotate(-10deg); /* Newer browsers (incl IE9) */
}

.header-image-2, .rotate5 {
  height: 180px;
  -moz-transform: rotate(5deg); /* FF3.5/3.6 */
  -o-transform: rotate(5deg); /* Opera 10.5 */
  -webkit-transform: rotate(5deg); /* Saf3.1+ */
  transform: rotate(5deg); /* Newer browsers (incl IE9) */
}

.header-image-3, .rotate8 {
  height: 190px;
  -moz-transform: rotate(8deg); /* FF3.5/3.6 */
  -o-transform: rotate(8deg); /* Opera 10.5 */
  -webkit-transform: rotate(8deg); /* Saf3.1+ */
  transform: rotate(8deg); /* Newer browsers (incl IE9) */
}

.header-image-4, .rotate-7 {
  height: 230px;
  -moz-transform: rotate(-7deg); /* FF3.5/3.6 */
  -o-transform: rotate(-7deg); /* Opera 10.5 */
  -webkit-transform: rotate(-7deg); /* Saf3.1+ */
  transform: rotate(-7deg); /* Newer browsers (incl IE9) */
}

/* Countdown */

.countdown-row {
  display: block;
  text-align: center;
}

.countdown-section {
  border-left: 1px solid #dadada;
  border-color: rgba(218, 218, 218, 0.8);
  color: #dadada;
  display: inline-block;
  font-size: 12px;
  letter-spacing: -1px;
  width: 50px;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
  float: left;
}

.countdown-section:first-child {
  border-left: 0;
}

.countdown-amount {
  color: #fff;
  display: block;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: normal;
  padding-bottom: 5px;
}

@media (min-width: 768px) {
  .countdown-section {
    letter-spacing: 1px;
    padding: 2px 10px;
  }
}