.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace-inactive .pace-progress {
  display: none;
}

.pace .pace-progress {
  background: #000000;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 5px;
}

#loader {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #ffffff;
  opacity: 1;
  -webkit-transition: top 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: top 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  z-index: calc(1 + #{$navbar-zIndex});
}

.pace-done #loader {
  top: -100% !important;
}

.loader-logo {
  height: 70px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../images/logo.png");
  background-size: contain;
  margin: 0 auto;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}