.nav-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $navbar-zIndex;
}

.nav-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav-container label, #hamburger {
  display: none;
}

.nav-brand {
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  align-items: center;
}

.nav-toggle {
  display: none;
}

.nav-collapse {
  flex-basis: 100%;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

.nav-scrolled {
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
}

.nav-menu > li {
  padding: 10px 22px;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1.2px;
}

.nav-menu > li > a {
  color: #fff;
  text-decoration: none;
  padding-top: 5px;
}

.nav-menu-item.active,
.nav-menu > li > a:hover {
  color: rgba(255, 255, 255, 0.7);
  border-top: 2px solid rgba(255, 255, 255, 0.7);
}

.nav-menu > li.active > a {
  background-color: transparent;
  color: #000000;
}

@media (min-width: $lg) {
  .nav-menu:last-child {
    margin-right: -20px;
  }
}

@media (max-width: $lg) {
  nav {
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
  }

  .nav-break {
    flex-basis: 100%;
    height: 0;
  }

  .nav-container label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    cursor: pointer;
    height: $navbar-height;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    overflow: hidden;
    height: 0;
    padding: 0;
    -webkit-transition: height .3s ease;
  }

  .nav-menu-item.active,
  .nav-menu > li > a:hover {
    border-top: none;
  }

  .nav-container input:checked ~ .nav-menu {
    height: 200px;
  }
}

@media (max-width: $md) {
  .nav-menu > li > a,
  .nav-menu > li > a {
    text-decoration: none;
    text-align: center;
  }

  .nav-menu > li > a:hover,
  .nav-menu > li > a:hover,
  .nav-menu > li > a:focus,
  .nav-menu > li > a:focus {
    background-color: transparent;
  }

  .nav-menu > li.active > a,
  .nav-menu > li.active > a {
    background-color: #eeeeee;
  }
}

.logo {
  max-width: 110px;
}

/* Hamburger customization */

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  height: 2px;
  background-color: #fff;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}