@charset "utf-8";

/* ----------------------------------
Style.css / Version:1.0
    Table of contents
    01. Google Font
    02. Variables
    03. PreLoader
    04. Reset
    05. Typography
    06. Navigation
    07. Header
    08. Layout
    09. Contact section
---------------------------------- */

/* ----------------------------------
   01 - Google font
---------------------------------- */
@import url(http://allfont.net/allfont.css?fonts=europe-normal);

/* ----------------------------------
   02 - Variables
---------------------------------- */
@import "base/variables.css";

/* ----------------------------------
   03 - Reset
---------------------------------- */
@import "base/reset.css";

/* ----------------------------------
   04 - Typography
---------------------------------- */
@import "base/typography.css";

/* ----------------------------------
   06 - Navigation
---------------------------------- */
@import "base/navigation.css";

/* ----------------------------------
   07 - Layout
---------------------------------- */
@import "base/layout.css";

/* ----------------------------------
   08 - Intro
---------------------------------- */
@import "base/intro.css";


/** Theme **/

.light {
    --color-primary: #fff;
    --font-color: #000;
    --secondary-color: #919191;
    --link-color: #8cc7ee;
    --link-color-select: #98c0da;
}

.dark {
    --color-primary: #000;
    --font-color: #fff;
}

/** Gallery **/

.react-photo-gallery--gallery {
    padding-top: 10px;
    padding-bottom: 10px;
}

.react-photo-gallery--gallery > div {
    width: calc(100% + 4px);
}

/** Carousel **/

.carousel-item-padding-10-px {
    padding: 10px;
}

/** Events **/

.event {
    color: #000;
}

.event-carousel {
    width: 100%;
}

@media (min-width: 768px) {
    .event {
        padding: 10px;
    }

    .event-carousel {
        width: calc(100% + 20px);
        margin-left: -10px;
    }
}

.event-image {
    width: 100%;
}

.event-content {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 8px 16px;
    background-color: #fff;
}

.event-detail {
    text-align: center;
}

.event-location {
    color: var(--secondary-color);
    font-weight: 500;
}

.event-date {
    color: var(--link-color-select);
    font-weight: 600;
    font-size: 15px;
}