.carousel {
    display: block;
    background: #fff;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
}

.carousel:after {
    background-color: rgba(10, 10, 10, 0.4);
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.carousel-slide {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.carousel-text {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.carousel-text > h2 {
    font-weight: 600;
    letter-spacing: 3px;
    color: #fff;
    text-align: center;
    padding-bottom: 45px;
}

.carousel-slide:nth-of-type(1) {
    background: url(../../img/humps.jpg) no-repeat scroll center;
    background-size: cover;
}

.carousel-slide:nth-of-type(2) {
    background: url(../../img/humpback.jpeg) no-repeat scroll center;
    background-size: cover;
}

.carousel-slide:nth-of-type(3) {
    background: url(../../img/shark.jpg) no-repeat scroll center;
    background-size: cover;
}

.carousel-slide:nth-of-type(4) {
    background: url(../../img/nurse.jpg) no-repeat scroll center;
    background-size: cover;
}