.countdown-row {
    display: block;
    text-align: center;
}

.countdown-section {
    border-left: 1px solid #dadada;
    border-color: rgba(218, 218, 218, 0.8);
    color: #dadada;
    display: inline-block;
    font-size: 12px;
    letter-spacing: -1px;
    width: 50px;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
    float: left;
}

.countdown-section:first-child {
    border-left: 0;
}

.countdown-amount {
    color: #fff;
    display: block;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: normal;
    padding-bottom: 5px;
}

@media (min-width: 768px) {
    .countdown-section {
        letter-spacing: 1px;
        padding: 2px 10px;
    }
}