.intro {
    height: calc(100vh - 8px);
    /*background: #000 url(../../img/shark.jpg) no-repeat scroll 50%;*/
    background: #000 url(../../img/nurse.jpg) no-repeat scroll 50%;
    background-size: cover;
    border: 4px solid #fff;
}

.intro-overlay {
    height: 100%;
    /*background-color: rgba(0, 0, 0, 0.7);*/
}

.intro-layout {
    height: 100%;
    display: flex;
    padding: 40px 60px 60px 60px;
    box-sizing: border-box;
    color: #fff;
}

.intro-layout > div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.intro-left {
    justify-content: space-around;
}

.intro-right {
    text-align: right;
    justify-content: space-between;
}

.intro-quote {
    display: flex;
    flex-direction: column;
    font-weight: 200;
    font-size: 26px;
}

.intro-quote > div {
    padding-bottom: 5px;
}

.intro-brand {
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    text-transform: none;
    letter-spacing: .3em;
}

.intro-quote *,
.intro-content * {
    color: #fff;
}

.intro-detail {
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    text-transform: none;
    letter-spacing: .3em;
    padding-top: 10px;
}

.intro-navigation > li {
    font-weight: 300;
    font-style: normal;
    font-size: 13px;
    text-transform: none;
    letter-spacing: .2em;
    display: inline;
}

.intro-navigation > li > a {
    color: #fff;
    text-decoration: none;
    padding: .8em .6em;
}

.intro-navigation > li:last-of-type a {
    padding-right: 0;
}

.intro-navigation > li > a:hover {
    color: #ccc;
}

.intro-navigation > li.active > a {
    background-color: transparent;
    color: #ccc;
}

@media (max-width: 576px) {
    .intro-layout {
        padding: 20px;
    }
}

@media (max-width: 768px) {
    .intro-layout {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .intro-navigation > li {
        display: block;
    }

    .intro-navigation > li > a {
        padding: 0;
    }

    .intro-navigation li:not(:last-child) {
        margin-bottom: 15px;
    }
}

@media (max-width: 992px) {
    .intro-layout .intro-left {
        flex: 0;
        display: none;
    }
}