.intro {
    height: 100vh;
    background: #000 url(../../img/nurses.jpeg) no-repeat scroll 50%;
    background-size: contain;
}

@media (max-width: 576px) {
    .intro {
        background: #000 url(../../img/hello.jpeg) no-repeat scroll 50%;
        background-size: cover;
    }
}

.intro-layout {
    height: 100%;
    flex: 1;
    color: #fff;

}

.intro-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.intro-overlay > h1 {
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -0.02em;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.fff {
    font-weight: 100;
}

.intro-overlay > h2 {
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    color: #fff;
}

/** On LG screens show menu instead drawer **/
@media (min-width: 992px) {
    .intro-overlay > h1 {
        font-size: 115px;
    }
}