.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1180px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.center {
    align-items: center;
    justify-content: center;
}

.h-100 {
    height: calc(100vh - var(--navbar-height));
}

.column {
    display: flex;
    flex-direction: column;
}

.my-auto {
    margin-bottom: auto;
    margin-top: auto;
}

.mx-auto {
    margin-right: auto;
    margin-left: auto;
}

section {
    margin-top: var(--navbar-height);
}

.section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.hidden {
    display: none;
}

.grow {
    flex: 1;
}