.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.center {
    align-items: center;
    justify-content: center;
}

.h-100 {
    height: calc(100vh - var(--navbar-height));
}

.column {
    display: flex;
    flex-direction: column;
}

.my-auto {
    margin-bottom: auto;
    margin-top: auto;
}

.mx-auto {
    margin-right: auto;
    margin-left: auto;
}

header {
    padding-top: var(--navbar-height);
}

main {
    min-height: calc(100vh - var(--navbar-height));
    display: flex;
    flex-direction: column;
}

footer {
    background: #262626;
    padding: 50px 0 20px 0;
    color: #666;
}

.section {
    padding-top: 100px;
}

.section > h2 {
    padding-bottom: 20px;
}

.section-info {
    padding-top: 16px;
    padding-bottom: 16px;
}

.hidden {
    display: none;
}

.grow {
    flex: 1;
}

/** Scrolling [Safari, Chrome] **/

body::-webkit-scrollbar {
    width: 0; /* remove scrollbar space */
    background: transparent; /* optional: just make scrollbar invisible */
}

/** Scrolling [FF, IE] **/

body {
    scrollbar-width: none;
}