.nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 325px;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 1);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform 500ms ease;
    transition: -webkit-transform 500ms ease;
    z-index: calc(1 + var(--navbar-zIndex));
}

@media (max-width: 576px) {
    .nav {
        width: 100%;
    }
}

.nav-header {
    height: 72px;
    padding: 0 35px 0 35px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.nav-footer {
    align-items: center;
    padding-bottom: 40px;
}

.nav-footer-copyright {
    text-align: center;
    color: #000;
}

.nav-open {
    transform: translateX(0px);
}

.nav-bar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: var(--navbar-zIndex);
}

.nav-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px 0 35px;
    height: var(--navbar-height);
}

.nav-brand {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
}

.nav-scrolled {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
}

/* Menu */

.nav-menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style: none;
    padding: 0;
}

.nav-menu > li {
    padding: 25px 22px;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
}

.nav-menu > li > a {
    color: #000;
    text-decoration: none;
}

.nav-menu-item.active,
.nav-menu > li > a:hover {
    color: rgba(0, 0, 0, 0.7);
}

.nav-menu > li.active > a {
    background-color: transparent;
    color: #000;
}

@media (min-width: var(--lg)) {
    .nav-menu:last-child {
        margin-right: -20px;
    }
}

@media (max-width: var(--md)) {
    .nav-menu > li > a,
    .nav-menu > li > a {
        text-decoration: none;
        text-align: center;
    }

    .nav-menu > li > a:hover,
    .nav-menu > li > a:hover,
    .nav-menu > li > a:focus,
    .nav-menu > li > a:focus {
        background-color: transparent;
    }

    .nav-menu > li.active > a,
    .nav-menu > li.active > a {
        background-color: #eeeeee;
    }
}

.logo {
    max-width: 110px;
}

/* Hamburger customization */

.hamburger {
    padding: 0;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    background-color: #fff !important;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #000 !important;
}

/* Menu overlay */

.nav-overlay {
    position: fixed;
    top: -100px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 40;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 1s, visibility 1s;
    transition: opacity 1s, visibility 1s;
}

.nav-overlay-active {
    opacity: 1;
    visibility: visible;
}