body {
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    line-height: 24px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    color: var(--font-color);
    background-color: var(--color-primary);
    margin: 0;
}

body {
    scrollbar-face-color: #ffffff;
    scrollbar-track-color: #000000;
}

input:focus,
button:focus {
    outline: none;
}

button {
    cursor: pointer;
    background-color: transparent;
}

strong {
    font-weight: 700;
}

input,
textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 15px;
    width: 100%;
    height: 45px;
}

form {
    width: 100%;
}

textarea {
    height: 75px;
}

.button,
input[type=submit] {
    border: 1px solid #fff;
    color: #ffffff;
    border-radius: 0;
    text-transform: uppercase;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 3.2px;
}

.button-inverse,
input[type=submit] {
    border: 1px solid #000;
    color: #000;
}

.button:hover,
input[type=submit]:hover {
    color: #ffffff;
    background-color: #000000;
    text-decoration: none;
}

a.button {
    margin: 0;
}

a,
a:hover,
a:focus {
    color: #000000;
    text-decoration: underline;
}