h1 {
    font-size: 47px;
    line-height: 44px;
    letter-spacing: 1.9px;
}

h2 {
    font-size: 39px;
    line-height: 44px;
    letter-spacing: inherit;
}

h3 {
    font-size: 33px;
    line-height: 39px;
    letter-spacing: 1.9px;
}

h4 {
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 1px;
}

h5 {
    font-size: 21px;
    line-height: 24px;
    letter-spacing: 1.4px;
}

h6 {
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 1px;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.04px;
}

h1, h2, h3, h4, h5, h6 {
    color: #000;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}