h1 {
    font-size: 35px;
    font-weight: 300;
}

h2 {
    font-size: 32px;
    font-weight: 400;
}

h3 {
    font-size: 28px;
    font-weight: 400;
}

h4 {
    font-size: 25px;
    font-weight: 300;
}

h5 {
    font-size: 23px;
    font-weight: 300;
}

h6 {
    font-size: 20px;
    font-weight: 300;
}

p {
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    text-transform: none;
    letter-spacing: .3em;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    line-height: normal;
    font-style: normal;
    text-transform: none;
}

main h1, h2, h3, h4, h5, h6 {
    color: #000;
}